.table {
  display: block;
}

.head-table {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: rgb(180, 168, 61);
}

.table-body {
  display: block;
}

.table-line {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
