.form-container {
  background-color: rgb(31, 31, 31);
  padding: 10px;
}

.inputs-wallet {
  border-radius: 4px;
  height: 40px;
  border: none;
  margin-left: 5px;
}

.btn-wallet {
  background-color: rgb(255, 238, 0);
  border-radius: 4px;
  height: 40px;
  color: white;
  font-size: 13px;
  border: none;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/*.inputs-wallet #currency {
  width: 80px;
}

.inputs-wallet #tag {
  width: 200px;
} */

.label-wallet {
  color: white;
  margin-left: 10px;
}
