* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.form {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(107, 107, 107);
  margin: auto;
  padding: 2rem;
  width: 450px;
}

.title-login {
  font-size: 30px;
  padding-bottom: 35px;
  padding-top: 30px;
  text-align: center;
}

.inputs {
  background-color: white;
  border: 1px solid #bdbbbb;
  border-radius: 6px;
  font-size: 16px;
  height: 43px;
  margin-bottom: 15px;
  margin-top: 3px;
  outline: #3483fa;
  padding-left: 10px;
  width: 100%;
}

.inputs:hover {
  border: 2px solid #3483fa;
}

.btn-login {
  align-items: center;
  background-color: #3f88ee;
  border: none;
  border-radius: 6px;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
}

.label {
  margin-bottom: 3px;
  padding-left: 3px;
}
